.fade-in-down {
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    animation: fade-in-down 0.5s ease both;
  }
  
  @keyframes fade-in-down {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-out-up {
    opacity: 1;
    transform: translateY(0);
    animation: fade-out-up 0.5s ease-in forwards;
  }
  
  @keyframes fade-out-up {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }